@media print {
  body * { visibility: hidden !important; }
  #calendar, #calendar * { visibility: visible !important; }
  #calendar {
    position: absolute !important;
    left: 0; top: 0; width: 100%;
  }
}